<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-no-turbolink="true">
<div class="fixed">
	<div class="top-bar">
	  <div class="top-bar-title"><a href="#">Treebook</a></div>
	  <div>
	    <div class="top-bar-left">
	    	<%= link_to "All Statuses|", feed_path %>
	    </div>
	   	
	    <% if user_signed_in? %>
		   	<div class="top-bar-left">
		    	<%=  link_to current_user.full_name, edit_user_registration_path %>
		    </div>
		    <div class="top-bar-right">
		    	<%= link_to "Sign Out", logout_path %> 
		    </div>
		<% else %>
			<div class="top-bar-left">
		    	<%= link_to "Register", register_path %> 
		    </div>
		    <div class="top-bar-right">
		    	<%= link_to "Sign In", login_path %> 
		    </div>
	    <% end %>

	  </div>
	</div>
</div>

	</div>
	
	<div class="row">
	
	<% flash.each do |type, message| %>
		<div class="callout <%= flash_class (type.to_s)%>">
			<%= message %>
  			<button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    		<span aria-hidden="true">&times;</span>
  			</button>
		</div>
	<% end %>



		<%= yield %>	
	</div>



</body>
</html>
