<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-no-turbolink="true">
<div class="fixed">
	<div class="top-bar">
	  <div class="top-bar-title"><a href="#">Treebook</a></div>
	  <div>
	    <div class="top-bar-left">
	    	<%= link_to "All Statuses|", statuses_path %>
	    </div>
	   	
	    <% if user_signed_in? %>
		   	<div class="top-bar-left">
		    	<%=  link_to current_user.full_name, edit_user_registration_path %>
		    </div>
		    <div class="top-bar-right">
		    	<%= link_to "Sign Out", destroy_user_session_path, method: :delete %> 
		    </div>
		<% else %>
			<div class="top-bar-left">
		    	<%= link_to "Register", new_user_registration_path %> 
		    </div>
		    <div class="top-bar-right">
		    	<%= link_to "Sign In", new_user_session_path %> 
		    </div>
	    <% end %>

	  </div>
	</div>
</div>

	</div>

	   <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
	
	<div class="row">
		<%= yield %>	
	</div>



</body>
</html>
